services:
  app-service:
    build:
      context: .
      dockerfile: app-service/Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/appservice
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      OTEL_INSTRUMENTATION_JDBC_DATASOURCE_PEER_SERVICE_MAPPING: "appservice=mysql-appservice"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9090
      #- OTEL_SERVICE_NAME=app-service
      #- OTEL_INSTRUMENTATION_COMMON_PEER_SERVICE_MAPPING=jsonplaceholder.typicode.com=JSONPlaceholder
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://app-service:8080/actuator/health/readiness" ]
      interval: 20s
      timeout: 10s
      retries: 15
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      schema-registry:
        condition: service_healthy
    ports:
      - "8080:8080"
    networks:
      - backend

networks:
  backend: