services:
  kafka-consumer:
    build:
      context: .
      dockerfile: kafka-consumer/Dockerfile
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9090
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      schema-registry:
        condition: service_healthy
      app-service:
        condition: service_healthy

    ports:
      - "8081:8080"
    networks:
      - backend

networks:
  backend:
